
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_5block :: layout(~{::body/content()})}">
	<head>
		<title>
			トップ | シェアードショップ
		</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	</head>
	<body class="user index">
		<div class="container">
			<article class="topuser">
				<h2 class="title">
					売れ筋商品
				</h2>
				<div class="item">
					<div class="item_name">
						鉛筆
					</div>
					<a href="/shared_shop/item/detail/24">
						<img src="img/20180613010316_BlackPencil.jpg" />
					</a>
				</div>
				<div class="item">
					<div class="item_name">
						マスキングテープ(水玉)
					</div>
					<a href="/shared_shop/item/detail/23">
						<img src="img/20180613010231_MaskingTape-Dotted.jpg" />
					</a>
				</div>
				<div class="item">
					<div class="item_name">
						クレヨン
					</div>
					<a href="/shared_shop/item/detail/14">
						<img src="img/20180328124616_crayon.jpg" />
					</a>
				</div>
				<div class="item">
					<div class="item_name">
						オレンジ
					</div>
					<a href="/shared_shop/item/detail/3">
						<img src="img/common/no_image.jpg" />
					</a>
				</div>
				<div class="item">
					<div class="item_name">
						マスキングテープ(星)
					</div>
					<a href="/shared_shop/item/detail/22">
						<img src="img/20180613010141_MaskingTape-Star.jpg" />
					</a>
				</div>
				<div class="item">
					<div class="item_name">
						クリップセット
					</div>
					<a href="/shared_shop/item/detail/15">
						<img src="img/20180327033206_Clips.jpg" />
					</a>
				</div>
				<div class="item">
					<div class="item_name">
						学問のすすめ
					</div>
					<a href="/shared_shop/item/detail/5">
						<img src="img/20180312011416_gakumonnosusume.jpg" />
					</a>
				</div>
				<div class="item">
					<div class="item_name">
						辞書
					</div>
					<a href="/shared_shop/item/detail/2">
						<img src="img/20180312124614_dictionary.jpg" />
					</a>
				</div>
				<div class="item">
					<div class="item_name">
						さくらんぼ
					</div>
					<a href="/shared_shop/item/detail/4">
						<img src="img/20180312125622_cherry.jpg" />
					</a>
				</div>
				<div class="item">
					<div class="item_name">
						りんご
					</div>
					<a href="/shared_shop/item/detail/1">
						<img src="img/20180311122622_apple.jpg" />
					</a>
				</div>
			</article>
		</div>
		<footer>
			<small class="container">
				Copyright(C) 2017 System Shared co., ltd, ALL Rights Reserved
			</small>
		</footer>
	</body>
</html>
