<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_5block :: layout(~{::body/content()})}">
<head>
<title>トップ | シェアードショップ</title>
<meta charset="UTF-8" />
</head>
<body class="user index">

	<article class="mainuser">
				<h2 class="title">
					商品一覧
				</h2>
				<div class="sorted_by">
					<span>
					<a href="/shared_shop/item/list/1?categoryId=&amp;min=&amp;max=">
					新着順
					</a>
					</span>
					<a href="/shared_shop/item/list/2?categoryId=&amp;min=&amp;max=">
						売れ筋順
					</a>
				</div>
				<table class="list_table item_detail">
					<tr>
						<th width="20px" >
							商品画像
						</th>
						<th width="50px">
							商品名
						</th>
						<th width="10px">
							価格
						</th>
						<th width="20px">
							カテゴリ
						</th>
					 </tr>
					 <tr th:each = "item:${items}">
						<td th:text="${item.image}"></td>
						<td th:text="${item.name}"></td>
						<td th:text="${item.price}"></td>
						<td th:text="${item.category.name}"></td>
						<!-- <td th:text="${item.category.category_id}"></td> -->
					</tr>
					</table>

			</article>
</body>
</html>