
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_5block :: layout(~{::body/content()})}">
	<head>
		<title>
			商品一覧 | シェアードショップ
		</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>
	<body class="user item_list">
	<article class="mainuser">
				<h2 class="title">
					商品一覧
				</h2>

				<!-- 検索にかからない場合のメッセージ表示 -->
				<th:block th:if="${#lists.isEmpty(items)}">
					<p th:text="#{itemListAdmin.none}"></p>
				</th:block>

				<div class="sorted_by" th:if="!${#lists.isEmpty(items)}">
					<span>
						<th:block th:if="${flag == 0}">
							<span>新着順</span>
							<a href="/shared_shop/item/list/2">売れ筋順</a>
						</th:block>
						<th:block th:if="${flag == 1}">
							<a href="/shared_shop/item/list/1">新着順</a>
							<span>売れ筋順</span>
						</th:block>
						<th:block th:if="${flag != 0 AND flag != 1}">
							<a href="/shared_shop/item/list/1">新着順</a>
							<a href="/shared_shop/item/list/2">売れ筋順</a>
						</th:block>

					</span>
				</div>
				<table class="list_table item_detail" th:if="!${#lists.isEmpty(items)}">
					<tr>
						<th width="20px" >
							商品画像
						</th>
						<th width="50px">
							商品名
						</th>
						<th width="10px">
							価格
						</th>
						<th width="20px">
							カテゴリ
						</th>

					 </tr>
					 <tr th:each = "item:${items}">
						<th:block th:if="${item.image != null}">
							<td><img th:src="@{/img/{image}(image=${item.image})}"></img></td>
						</th:block>
						<th:block th:if="${item.image == null}">
							<td><img th:src="@{/img/common/no_image.jpg}"></img></td>
						</th:block>

						<td><a th:href="@{/item/detail/{id} (id=${item.id})}" th:text="${item.name}"></a></td>

						<td th:text="${item.price}"></td>
						<td th:text="${item.category.name}"></td>
						<!-- <td th:text="${item.category.category_id}"></td> -->
					</tr>
					</table>
					<!-- エラーメッセージ表示 -->
					<div class="error">
						<p th:text="${errorMessage}"></p>
					</div>

					<ul class="paging" th:if="!${#lists.isEmpty(items) }">
						<li th:class="${pages.first} ? 'disabled':''" >
							<span th:if="${pages.first}">&lt;&lt;</span>
							<a th:if="${not pages.first}" th:href="@{${url}(page=0)}">&lt;&lt;</a>
						</li>
						<li th:each='i : ${#numbers.sequence(0, pages.totalPages-1)}'
							th:class="(${i}==${pages.number})? 'active' : ''" >
							<span th:if='${i}==${pages.number}' th:text='${i+1}'></span>
							<a th:if='${i}!=${pages.number}' th:href="@{${url}(page=${i})}">
								<span th:text='${i+1}'></span>
							</a>
						</li>
						<li th:class="${pages.last} ? 'disabled':''" >
							<span th:if="${pages.last}">&gt;&gt;</span>
							<a th:if="${not pages.last}"
								th:href="@{${url}(page=(${pages.totalPages}-1))}">&gt;&gt;</a>
						</li>
					</ul>

			</article>



	</body>
</html>
