<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>送料確認画面</title>
</head>
<body>
	<h2>送料確認画面</h2>
	<table border=1>
		<tr>
		 <td>北海道</td>
		 <td>円</td>
		</tr>
		<tr>
			<td>東北</td>
		 	<td>円</td>
		</tr>
		<tr>
			<td>関東</td>
		 	<td>円</td>
		</tr>
		<tr>
			<td>中部</td>
		 	<td>円</td>
		</tr>
		<tr>
			<td>近畿</td>
		 	<td>円</td>
		</tr>
		<tr>
			<td>中国</td>
		 	<td>円</td>
		</tr>
		<tr>
			<td>四国</td>
		 	<td>円</td>
		</tr>
		<tr>
			<td>九州</td>
		 	<td>円</td>
		</tr>
		<tr>
			<td>沖縄</td>
		 	<td>円</td>
		</tr>
	</table>

</body>
</html>