<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_5block :: layout(~{::body/content()})}">
	<head>
		<title>
			お届け先入力 | シェアードショップ
		</title>
		<meta charset="UTF-8" />
	</head>
	<body class="user order_address_input">
		<h2 class="title">
			お届け先入力
		</h2>
		<div class="user_info_form_area">
			<form method="post" action="/shared_shop/payment/input">

				<br />
				<ul class="input_list">
					<li>
						<label>
							<span class="input_title">
								郵便番号
							</span>
							<input type="text" name="postalCode" value=""/>
						</label>
					</li>
					<li>
						<label>
							<span class="input_title">
								都道府県
							</span>
							<select name="categoryId">
								<option value="1">
									北海道
								</option>
								<option value="2">
									東北
								</option>
								<option value="3">
									乗り物
								</option>
								<option value="5">
									文房具
								</option>
								<option value="6">
									掃除用具
								</option>
								<option value="7">
									食器
								</option>
								<option value="8">
									ネットワーク機器
								</option>
								<option value="9">
									飲み物
								</option>
								<option value="10">
									OA用品
								</option>
								<option value="12">
									手芸用品
								</option>
								<option value="13">
									アクセサリ
								</option>
								<option value="15">
									キッチン用品
								</option>
							</select>
						</label>
					</li>
					<li>
						<label>
							<span class="input_title">
								市区町村
							</span>
							<textarea name="address" rows="6"></textarea>
						</label>
					</li>
					<li>
						<label>
							<span class="input_title">
								氏名
							</span>
							<input type="text" name="name" value=""/>
						</label>
					</li>
					<li>
						<label>
							<span class="input_title">
								電話番号
							</span>
							<input type="text" name="phoneNumber" value=""/>
						</label>
					</li>
				</ul>
				<input type="submit" value="次へ" class="send_button" />
				<input type="hidden" name="backflg" value="false" />
			</form>
			<form action="/shared_shop/basket/list?page=0">
				<input type="submit" value="戻る" class="back_button" />
			</form>
		</div>
	</body>
</html>
