<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_5block :: layout(~{::body/content()})}">
	<head>
		<title>
			お届け先入力 | シェアードショップ
		</title>
	</head>
	<body>
		<h2 class="title">
			注文内容最終確認
		</h2>
		<br />
		<table class="list_table item_detail">
			<tr>
				<th>
					商品名
				</th>
				<th>
					商品画像
				</th>
				<th>
					単価
				</th>
				<th>
					数量
				</th>
				<th>
					小計
				</th>
			</tr>
			<tr th:each="orderItem: ${orderItems}">
				<td th:text="${orderItem.name}"></td>
				<td><img th:src="@{/img/{image}(image=${orderItem.image})}"></img>				</td>
				<td th:text="${orderItem.price}"></td>
				<td th:text="${orderItem.orderNum}"></td>
				<td th:text="${orderItem.subtotal}"></td>
			</tr>
			<tr>
				<td colspan="3"></td>
				<td class="total">商品合計</td>
				<td th:text="${subTotalNum}" class="total"></td>
			</tr>
			<tr>
				<td colspan="3"></td>
				<td>送料</td>
				<td th:text="${orderBean.prefectureId.regionId.fee}"></td>
			</tr>
			<tr>
				<td colspan="3"></td>
				<td>合計</td>
				<td th:text="${totalNum}"></td>
			</tr>

		</table>
		<div class="user_info_form_area">
			<table class="detail_table address">
				<caption class="table_caption">
					お届け先
				</caption>
				<tr>
					<th>
						郵便番号
					</th>
					<td th:text="${orderBean.postalCode}"></td>
				</tr>
				<tr>
					<th>
						住所
					</th>
				<td th:text="${orderBean.prefectureId.name}+${orderBean.address}"></td>
			</tr>
				<tr>
					<th>
						氏名
					</th>
					<td th:text="${orderBean.name}"></td>
				</tr>
				<tr>
					<th>
						電話番号
					</th>
					<td th:text="${orderBean.phoneNumber}"></td>
				</tr>
			</table>
			<table class="detail_table pay">
				<caption class="table_caption">
					お支払い方法
				</caption>
				<tr>
					<th>
						お支払い方法
					</th>
					<td>
						<span th:text="${payMethod}"></span>
					</td>
				</tr>
			</table>
			<form method="post" action="/shared_shop/order/complete" >
				<input type="hidden" name="postalCode" th:value="${orderBean.postalCode}"/>
				<input type="hidden" name="address" th:value="${orderBean.prefectureId.id}"/>
				<input type="hidden" name="address" th:value="${orderBean.address}"/>
				<input type="hidden" name="name" th:value="${orderBean.name}"/>
				<input type="hidden" name="phoneNumber" th:value="${orderBean.phoneNumber}"/>
				<input type="hidden" name="payMethod" th:value="${orderBean.payMethod}"/>
				<input class="send_button" type="submit" value="ご注文の確定" />
			</form>
			<form method="post" action="/shared_shop/payment/input" class="update">
				<input type="hidden" name="postalCode" th:value="${orderBean.postalCode}"/>
				<input type="hidden" name="address" th:value="${orderBean.prefectureId.id}"/>
				<input type="hidden" name="address" th:value="${orderBean.address}"/>
				<input type="hidden" name="name" th:value="${orderBean.name}"/>
				<input type="hidden" name="phoneNumber" th:value="${orderBean.phoneNumber}"/>
				<input type="hidden" name="payMethod" th:value="${orderBean.payMethod}"/>
				<input type="hidden" name="backflg" value="true" />
				<input class="back_button" type="submit" value="戻る" />
			</form>
		</div>
	</body>
</html>